API_creds.py
extracted/
.DS_Store
ontario/
temp*
transit/
data/census/lct_000b21a_e
.vscode
boundaries_visualziation/
census_tract_data/
key_destination_data/
results/
prepare_data/
backend/src/gtfs_output/

# dependencies
frontend/transit-dashboard/node_modules
frontend/transit-dashboard/.pnp
.pnp.js

# testing
frontend/transit-dashboard/coverage

# production
frontend/transit-dashboard/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
draft/
# cache
__pycache__/*
*.pyc

# data
*.json
*.geojson
*.csv

*.txt